:root {
    --primary: #2B5182;
    --gray_50_01: #f9f9f9;
    --gray_50_02: #f7fcff;
    --gray_50_03: #fbfbfb;
    --green_A700_66_01: #0fc23766;
    --gray_50_04: #f2faff;
    --gray_50_05: #f1faff;
    --gray_900_99: #17171799;
    --black_900_7c: #0000007c;
    --green_A700_01: #18c529;
    --light_blue_50_a8: #cfeeffa8;
    --blue_A200: #4a88d8;
    --light_blue_100_19: #a6d5ff19;
    --light_blue_50_2b: #cfeeff2b;
    --green_A700: #0fc236;
    --blue_gray_900_02: #343434;
    --gray_200_01: #eaeaea;
    --blue_gray_900_01: #232a50;
    --blue_gray_700: #375780;
    --indigo_800_00: #2b518200;
    --blue_gray_900: #333333;
    --indigo_800_01: #3d3179;
    --gray_50_f2: #f3fafff2;
    --indigo_400_7f: #4f8ac27f;
    --red_A700: #db0303;
    --blue_100_75: #c8e5ff75;
    --yellow_200: #fff494;
    --gray_600: #6b6b6b;
    --gray_400: #b5b5b5;
    --orange_A200: #ff9c40;
    --blue_gray_300: #9799b6;
    --orange_A200_01: #ef9c48;
    --orange_A200_02: #faaa46;
    --gray_200: #eeeeee;
    --yellow_A700: #ffd400;
    --indigo_800_9e: #2b51829e;
    --indigo_400: #4f8ac2;
    --black_900_aa: #000000aa;
    --gray_400_01: #c0c0c0;
    --gray_400_02: #b6b6b6;
    --white_A700_bc: #ffffffbc;
    --light_blue_100_26: #aad7ff26;
    --gray_500_ee: #999999ee;
    --blue_300: #5daaf2;
    --blue_100: #b6e0f9;
    --indigo_800_33: #2b518233;
    --black_900_19: #00000019;
    --blue_gray_400_01: #86909c;
    --black_900_14: #00000014;
    --light_blue_50_bc: #cfedffbc;
    --white_A700: #ffffff;
    --indigo_800: #2b5182;
    --indigo_400_33: #4f8ac233;
    --green_A700_66: #00be6e66;
    --deep_orange_600_99: #ff540b99;
    --gray_50: #f8fcff;
    --amber_A400: #ffc500;
    --black_900_1e: #0000001e;
    --black_900_d8: #000000d8;
    --blue_200_21: #9bceff21;
    --black_900: #000000;
    --blue_100_19: #b1daff19;
    --yellow_900: #d48931;
    --deep_orange_A400: #ff4c00;
    --gray_700: #666666;
    --light_blue_50_f2: #cfeefff2;
    --gray_500: #999999;
    --indigo_400_01: #4a87c3;
    --gray_600_01: #6c6c6c;
    --blue_gray_400: #838696;
    --blue_800: #216fbf;
    --amber_200: #f7db77;
    --light_blue_50: #cfeeff;
    --teal_50: #d0e6fb;
    --blue_50_c6: #e5f5ffc6;
    --gray_300: #e2e2e2;
    --indigo_800_7f: #2b51827f;
    --blue_gray_300_01: #9799b4;
    --gray_300_01: #dedede;
    --gray_100: #f4f4f4;
    --black_900_a5: #000000a5;
    --deep_orange_A400_01: #ff3d00;
    --yellow_900_01: #e58d2e;
    --light_blue_100_00: #a6d5ff00;
    --light_blue_50_bc_01: #cfeeffbc;
    --gray_500_75: #a0a0a075;
    --gray_900_7f: #1717177f;
    --blue_100_03: #b1daff;
    --blue_50_56: #e9f7ff56;
    --blue_100_01: #bfe0f6;
    --indigo_800_99: #2b518299;
    --blue_100_02: #cfe6fa;
    --cyan_900: #0a4579;
    --light_blue_50_01: #cfedff;
    --white_A700_f2: #fffffff2;
    --light_blue_50_02: #daf1ff;
}
